.container{
	padding: 0;
	background: #f6f6f6;
}
#main{
	background: #fff!important;
}

.line_select{
	height: .5rem;
	background: #fff;
	position: relative;
	margin-bottom: .1rem;	
}
.line_select>h3{
	font-size: .16rem;
	color:#3184de;
	line-height: .5rem;
	text-align: center;
}
.line_select .icon{
    color: #3184de;
	position: absolute;
	margin-left: .1rem;
	margin-top: .17rem;
	width: 10px;
	height: 10px;
	border-left: solid 1px currentColor;
	border-top: solid 1px currentColor;
  	-webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

@media only screen and (max-width: 320px) {
	.line_select .icon{
		margin-top: .15rem;
	}
}

.select_div{
	position: absolute;
	width: 1.5rem;
	left: 50%;
	top: 85%;
	z-index: 10;
	background: rgba(0,0,0,0.7);
	border-radius: .1rem;
	transform: translateX(-50%);	
}
.select_img{
	position: absolute;
	right: .18rem;
	top: -.1rem;
}
.select_div ul li{
	padding-left: .2rem;
	font-size: .15rem;
	color:#fff;
	line-height: .4rem;
	border-bottom: 1px solid #aaa;
}

.work_title{
	padding: 0 .15rem;
	border-bottom: 1px solid #dfdfdf;
}
.work_title>h3{
	font-size: .16rem;
	line-height: .5rem;
	color:#3184de;
	float: left;
}
.work_title>p{
	float: right;
	font-size: .14rem;
	color:#9a9a9a;
	line-height: .5rem;
}

.work_money{
	padding: .15rem 0;
	background: #fff;
	border-bottom: 1px solid #dfdfdf;
}
.work_money>ul>li{
	width: 25%;
	float: left;
}
.work_money>ul>li>a{
	display: block;
	border-right: 1px solid #dfdfdf;
	text-align: center;
}
.work_money>ul>li>a>p{
	font-size: .14rem;
	color:#9a9a9a;
}
.work_money>ul>li>a>h3{
	font-size: .14rem;
	color:#000;
	padding-top: .1rem;
}

.work_info{
	padding: 0 .15rem;
	padding-top: .15rem;
	background: #fff;
}
.work_info>ul>li:after{
	content:"";
	display: block;
	clear: both;
}
.work_info>ul>li{
	width: 50%;
	float: left;
	padding-bottom: .1rem;
	font-size: .15rem;
	color:#9a9a9a;
}
.work_info>ul>li>span{
	color:#000;
}


.indent>h3{
	padding-left: .15rem;
	line-height: .5rem;
	color:#3184de;
	font-size: .16rem;
}












